* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* header section */
.header {
    background-image: url(../images/banner/banner2.png);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title-area {
    text-align: right;
    margin-right: 250px;
}

.header-title {
    font-size: 40px;
    font-weight: 900;
    color: rgb(22, 50, 85);
    margin-bottom: 20px;
}

.Possible {
    color: rgb(255, 255, 255);
}

.header-description {
    font-size: 15px;
    color: #424242;
    height: 64px;
    line-height: 27px;
    margin-bottom: 10px;
}

.btn {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    font-weight: 500;
    background-image: linear-gradient(to right, rgb(157, 10, 255), rgba(83, 100, 255, 0.863));
    border: none;
    border-radius: 5px;
}

/* main section*/
.failures-part {
    margin: 80px 200px 20px 300px;
}

.failures-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.failures-content {
    max-width: 1040px;
    margin: 146px auto;
}

.content-title {
    font-family: 'Pacifico', cursive;
    color: #2b2828;
    font-size: 30px;
    font-weight: 800;
    height: 40px;
    margin-bottom: 40px;
}

.failures {
    border-bottom: 5px solid rgb(17, 194, 32);
    margin-top: 10px;
    font-size: 40px;
}

.previous {
    color: aliceblue;
    background-color: rgba(4, 0, 255, 0.301);
    padding: 10px;
    border-radius: 10px;

}

.content-description {
    font-family: 'Kalam', cursive;
    color: #424242;
    font-size: 15px;
    line-height: 25px;
}

.content-description,
{}

.content-list,
ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-list i {
    color: rgb(0, 216, 0);
    margin-left: 5px;
}

.content-description {
    font-size: 15px;
}

/* skills section */
.my-skills {
    margin: 60px 200px 50px 200px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.skill-about {
    /* border: 3px solid rgba(143, 1, 209, 0.507); */
    height: 200px;
    width: 200px;
    padding: 25px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, rgba(176, 147, 255, 0.178), rgba(181, 199, 81, 0.24));
}

.skill-title {
    margin: 10px 0;
    font-family: 'Pacifico', cursive;
}

.skill-description {
    font-family: 'Pacifico', cursive;

}

/*background*/
.background {
    margin: 70px 225px 50px 255px;
}

.background-image {
    background-image: linear-gradient(to right, rgba(255, 17, 0, 0.575), rgba(202, 202, 5, 0.233)), url(../images/watch.png);
    padding: 50px 100px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.btn-primary {
    font-size: 20px;
    color: rgb(243, 89, 0);
    padding: 15px 30px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-title {
    font-size: 35px;
    font-weight: 800;
    height: 64px;
    color: white;
    margin-bottom: 20px;
}
/* footer section */
.footer {
    margin-top: 160px;
    padding: 100px 0px;
    background-color: #2e0653;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;
    gap: 20px;
}

.content-title-footer {
    margin: 15px 0px;
    font-size: 30px;
    color: aliceblue;
}

.content-description-footer {
    font-size: 18px;
    color: #F8F8FF;
}

.margin {
    margin-left: 50px;
}

.mail {
    font-size: 18px;
    color: #F8F8FF;
    margin: 10px 0;
    font-weight: 500;
}

.phone {
    font-size: 20px;
    color: #d5d5dd;
    margin: 10px 0;
    font-weight: 500;
}

img {
    margin-top: 15px;
    margin-left: 10px;

}

.Subscribe {
    color: #F8F8FF;
    font-size: 20px;
    font-weight: 500;
}

input {
    padding: 10px 15px;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    background-color: transparent;
}